In [46]:
import pandas as pd

In [47]:
wf_path = "../data/feb_22/workflow-connections_Feb_22.csv"

In [48]:
wf_frame = pd.read_csv(wf_path, sep="|", header=None)

/tmp/ipykernel_1553/3554089937.py:1: DtypeWarning: Columns (0,2,5) have mixed types. Specify dtype option on import or set low_memory=False.
  wf_frame = pd.read_csv(wf_path, sep="|", header=None)

In [49]:
wf_frame

,0,1,2,3,4,5,6,7,8,9,10
0,wf_id,wf_updated,in_id,...,in_tool_v,out_id,...,out_tool_v,published,deleted,has_errors
1,--------+------------+---------+--------------...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,2013-02-07,5,Grep1 ...,1.0.1,7,Remove beginning1 ...,1.0.0,f,t,f
3,3,2013-02-07,6,Cut1 ...,1.0.1,8,addValue ...,1.0.0,f,t,f
4,3,2013-02-07,7,Remove beginning1 ...,1.0.0,6,Cut1 ...,1.0.1,f,t,f
...,...,...,...,...,...,...,...,...,...,...,...
2412941,134921,2022-02-15,1992404.0,...,,1992352.0,toolshed.g2.bx.psu.edu/repos/pjbriggs/trimmom...,0.38.1,f,f,f
2412942,134921,2022-02-15,1992405.0,...,,1992352.0,toolshed.g2.bx.psu.edu/repos/pjbriggs/trimmom...,0.38.1,f,f,f
2412943,134921,2022-02-15,1992406.0,...,,1992352.0,toolshed.g2.bx.psu.edu/repos/pjbriggs/trimmom...,0.38.1,f,f,f
2412944,134921,2022-02-15,1992407.0,...,,1992365.0,toolshed.g2.bx.psu.edu/repos/devteam/bowtie2/...,2.4.2+galaxy0,f,f,f
2412945,(2412943 rows),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [50]:
wf_frame_1 = wf_frame[1:len(wf_frame.index)-1]

In [51]:
wf_frame_1 = wf_frame_1[1:]
wf_frame_1

,0,1,2,3,4,5,6,7,8,9,10
2,3,2013-02-07,5,Grep1 ...,1.0.1,7,Remove beginning1 ...,1.0.0,f,t,f
3,3,2013-02-07,6,Cut1 ...,1.0.1,8,addValue ...,1.0.0,f,t,f
4,3,2013-02-07,7,Remove beginning1 ...,1.0.0,6,Cut1 ...,1.0.1,f,t,f
5,3,2013-02-07,7,Remove beginning1 ...,1.0.0,9,Cut1 ...,1.0.1,f,t,f
6,3,2013-02-07,8,addValue ...,1.0.0,11,Paste1 ...,1.0.0,f,t,f
...,...,...,...,...,...,...,...,...,...,...,...
2412940,134921,2022-02-15,1992403.0,...,,1992351.0,toolshed.g2.bx.psu.edu/repos/iuc/filter_tabul...,2.0.0,f,f,f
2412941,134921,2022-02-15,1992404.0,...,,1992352.0,toolshed.g2.bx.psu.edu/repos/pjbriggs/trimmom...,0.38.1,f,f,f
2412942,134921,2022-02-15,1992405.0,...,,1992352.0,toolshed.g2.bx.psu.edu/repos/pjbriggs/trimmom...,0.38.1,f,f,f
2412943,134921,2022-02-15,1992406.0,...,,1992352.0,toolshed.g2.bx.psu.edu/repos/pjbriggs/trimmom...,0.38.1,f,f,f
2412944,134921,2022-02-15,1992407.0,...,,1992365.0,toolshed.g2.bx.psu.edu/repos/devteam/bowtie2/...,2.4.2+galaxy0,f,f,f

In [52]:
#wf_frame_1 = wf_frame_1.sample(frac=1)
wf_frame_1

,0,1,2,3,4,5,6,7,8,9,10
2,3,2013-02-07,5,Grep1 ...,1.0.1,7,Remove beginning1 ...,1.0.0,f,t,f
3,3,2013-02-07,6,Cut1 ...,1.0.1,8,addValue ...,1.0.0,f,t,f
4,3,2013-02-07,7,Remove beginning1 ...,1.0.0,6,Cut1 ...,1.0.1,f,t,f
5,3,2013-02-07,7,Remove beginning1 ...,1.0.0,9,Cut1 ...,1.0.1,f,t,f
6,3,2013-02-07,8,addValue ...,1.0.0,11,Paste1 ...,1.0.0,f,t,f
...,...,...,...,...,...,...,...,...,...,...,...
2412940,134921,2022-02-15,1992403.0,...,,1992351.0,toolshed.g2.bx.psu.edu/repos/iuc/filter_tabul...,2.0.0,f,f,f
2412941,134921,2022-02-15,1992404.0,...,,1992352.0,toolshed.g2.bx.psu.edu/repos/pjbriggs/trimmom...,0.38.1,f,f,f
2412942,134921,2022-02-15,1992405.0,...,,1992352.0,toolshed.g2.bx.psu.edu/repos/pjbriggs/trimmom...,0.38.1,f,f,f
2412943,134921,2022-02-15,1992406.0,...,,1992352.0,toolshed.g2.bx.psu.edu/repos/pjbriggs/trimmom...,0.38.1,f,f,f
2412944,134921,2022-02-15,1992407.0,...,,1992365.0,toolshed.g2.bx.psu.edu/repos/devteam/bowtie2/...,2.4.2+galaxy0,f,f,f

In [53]:
wf_frame_subset = wf_frame_1[1:5000]
wf_frame_subset

,0,1,2,3,4,5,6,7,8,9,10
3,3,2013-02-07,6,Cut1 ...,1.0.1,8,addValue ...,1.0.0,f,t,f
4,3,2013-02-07,7,Remove beginning1 ...,1.0.0,6,Cut1 ...,1.0.1,f,t,f
5,3,2013-02-07,7,Remove beginning1 ...,1.0.0,9,Cut1 ...,1.0.1,f,t,f
6,3,2013-02-07,8,addValue ...,1.0.0,11,Paste1 ...,1.0.0,f,t,f
7,3,2013-02-07,9,Cut1 ...,1.0.1,11,Paste1 ...,1.0.0,f,t,f
...,...,...,...,...,...,...,...,...,...,...,...
4997,577,2013-10-21,11362,Remove_ending ...,1.0.0,11533,heatmapper ...,1.3,f,t,f
4998,577,2013-10-21,11363,cat1 ...,1.0.0,11489,Cut1 ...,1.0.2,f,t,f
4999,577,2013-10-21,11364,Remove_ending ...,1.0.0,11523,cat1 ...,1.0.0,f,t,f
5000,577,2013-10-21,11365,Remove_ending ...,1.0.0,11363,cat1 ...,1.0.0,f,t,f
5001,577,2013-10-21,11366,Remove_ending ...,1.0.0,11282,cat1 ...,1.0.0,f,t,f

In [54]:
wf_frame_subset.to_csv("../data/feb_22/wf_frame_subset_march_22_5000.csv", index=None, header=None)

In [55]:
wf_path_old = "../data/worflow-connection-20-04.tsv"

wf_old = pd.read_csv(wf_path_old, sep="\t")

In [56]:
wf_old

,3,2013-02-07 16:48:46.721866,5,Grep1,1.0.1,7,Remove beginning1,1.0.0,f,t,f.1
0,3,2013-02-07 16:48:46.721866,6,Cut1,1.0.1,8,addValue,1.0.0,f,t,f
1,3,2013-02-07 16:48:46.721866,7,Remove beginning1,1.0.0,9,Cut1,1.0.1,f,t,f
2,3,2013-02-07 16:48:46.721866,7,Remove beginning1,1.0.0,6,Cut1,1.0.1,f,t,f
3,3,2013-02-07 16:48:46.721866,8,addValue,1.0.0,11,Paste1,1.0.0,f,t,f
4,3,2013-02-07 16:48:46.721866,9,Cut1,1.0.1,11,Paste1,1.0.0,f,t,f
...,...,...,...,...,...,...,...,...,...,...,...
746133,50779,2020-04-27 14:36:39.197104,727112,Cut1,NaN,727113,toolshed.g2.bx.psu.edu/repos/devteam/intersect...,NaN,f,f,NaN
746134,50779,2020-04-27 14:36:39.197104,727111,toolshed.g2.bx.psu.edu/repos/devteam/column_ma...,NaN,727112,Cut1,NaN,f,f,NaN
746135,50779,2020-04-27 14:36:39.197104,727110,toolshed.g2.bx.psu.edu/repos/devteam/column_ma...,NaN,727111,toolshed.g2.bx.psu.edu/repos/devteam/column_ma...,NaN,f,f,NaN
746136,50779,2020-04-27 14:36:39.197104,727108,NaN,NaN,727114,toolshed.g2.bx.psu.edu/repos/devteam/intersect...,NaN,f,f,NaN
746137,50779,2020-04-27 14:36:39.197104,727108,NaN,NaN,727113,toolshed.g2.bx.psu.edu/repos/devteam/intersect...,NaN,f,f,NaN

In [57]:
tool_popu_path = "../data/feb_22/tool-popularity_Feb_22_12.csv"
tool_popu = pd.read_csv(tool_popu_path, sep="|", header=None)
tool_popu

,0,1,2
0,...,month,count
1,----------------------------------------------...,NaN,NaN
2,toolshed.g2.bx.psu.edu/repos/iuc/snpsift/snpS...,2022-02-01,67151
3,toolshed.g2.bx.psu.edu/repos/devteam/column_m...,2022-02-01,50054
4,upload1 ...,2022-02-01,43169
...,...,...,...
27203,toolshed.g2.bx.psu.edu/repos/iuc/hmmer_jackhm...,2021-02-01,1
27204,toolshed.g2.bx.psu.edu/repos/galaxyp/openms_h...,2021-02-01,1
27205,toolshed.g2.bx.psu.edu/repos/iuc/circos/circo...,2021-02-01,1
27206,toolshed.g2.bx.psu.edu/repos/bgruening/chembl...,2021-02-01,1
27207,(27205 rows),NaN,NaN

In [58]:
tool_popu_new = tool_popu[2:len(tool_popu.index) - 1]
tool_popu_new

,0,1,2
2,toolshed.g2.bx.psu.edu/repos/iuc/snpsift/snpS...,2022-02-01,67151
3,toolshed.g2.bx.psu.edu/repos/devteam/column_m...,2022-02-01,50054
4,upload1 ...,2022-02-01,43169
5,toolshed.g2.bx.psu.edu/repos/bgruening/text_p...,2022-02-01,39139
6,Cut1 ...,2022-02-01,29046
...,...,...,...
27202,toolshed.g2.bx.psu.edu/repos/devteam/emboss_5...,2021-02-01,1
27203,toolshed.g2.bx.psu.edu/repos/iuc/hmmer_jackhm...,2021-02-01,1
27204,toolshed.g2.bx.psu.edu/repos/galaxyp/openms_h...,2021-02-01,1
27205,toolshed.g2.bx.psu.edu/repos/iuc/circos/circo...,2021-02-01,1
27206,toolshed.g2.bx.psu.edu/repos/bgruening/chembl...,2021-02-01,1

In [45]:
tool_popu_new.to_csv("../data/feb_22/tool_popularity_march_22.csv", index=None, header=None)