In [5]:
import pandas as pd

path = "data/gxadmin_wf_conn.tsv"

df = pd.read_csv(path, sep="\t")

In [6]:
df

,5,2013-02-07 16:49:04.367628,27,Cut1,1.0.1,59,Paste1,1.0.0,input1,Unnamed: 9,f
0,5,2013-02-07 16:49:04.367628,39,Filter1,1.1.0,46,Summary_Statistics1,1.1.0,input,NaN,f
1,5,2013-02-07 16:49:04.367628,49,Summary_Statistics1,1.1.0,32,Cut1,1.0.1,input,NaN,f
2,5,2013-02-07 16:49:04.367628,60,Paste1,1.0.0,63,Add_a_column1,1.1.0,input,NaN,f
3,5,2013-02-07 16:49:04.367628,62,Add_a_column1,1.1.0,38,addValue,1.0.0,input,NaN,f
4,11,2013-02-07 17:03:54.795316,139,Cut1,1.0.1,177,Paste1,1.0.0,input1,NaN,f
...,...,...,...,...,...,...,...,...,...,...,...
320378,39075,2019-11-19 16:32:55.062139,592026,NaN,NaN,592029,toolshed.g2.bx.psu.edu/repos/iuc/raceid_inspec...,3.1,inputrds,output,f
320379,39077,2019-11-19 16:50:55.654888,592053,NaN,NaN,592058,toolshed.g2.bx.psu.edu/repos/iuc/gemini_load/g...,0.20.1+galaxy1,infile,NaN,f
320380,39084,2019-11-19 17:22:42.874235,592159,NaN,NaN,592169,toolshed.g2.bx.psu.edu/repos/lparsons/htseq_co...,0.9.1,gfffile,output,f
320381,39084,2019-11-19 17:22:42.874235,592159,NaN,NaN,592164,gff2bed1,1.0.1,input,output,f
320382,39084,2019-11-19 17:22:42.874235,592165,toolshed.g2.bx.psu.edu/repos/iuc/hisat2/hisat2...,2.1.0+galaxy4,592167,toolshed.g2.bx.psu.edu/repos/devteam/samtool_f...,1.8,input1,NaN,f

In [7]:
df_new = df[:10000]

df_new.to_csv("data/worflow-connection-04-20-10000.tsv", sep="\t", header=None)